*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.8rem;
  font-family: "Bai Jamjuree", sans-serif; }

.main-heading {
  font-size: 4.4rem;
  color: #4c545d; }

.heading-secondary {
  font-size: 3.6rem;
  color: #4c545d; }

.heading-tertiary {
  font-size: 2.6rem;
  color: #4c545d; }

.paragraph,
.paragraph--small {
  line-height: 1.7;
  color: #9fabb2; }

.paragraph--small {
  font-size: 1.6rem; }

.marg-btm-sx {
  margin-bottom: 1.6rem; }

.marg-btm-s {
  margin-bottom: 2.4rem; }

.marg-btm-m {
  margin-bottom: 4.8rem; }

.marg-btm-b {
  margin-bottom: 9.6rem; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  padding: 1.4rem 3.2rem;
  border-radius: 10rem;
  color: #fff;
  transition: all 0.3s ease;
  letter-spacing: 1px; }

.btn--green {
  background-color: #26baa4;
  box-shadow: rgba(38, 186, 164, 0.1) 0px 1px 0px, rgba(38, 186, 164, 0.1) 0px 8px 24px, rgba(38, 186, 164, 0.1) 0px 16px 48px; }
  .btn--green:hover {
    background-color: #2acfb7; }

.btn--blue {
  background-color: #6173ff;
  box-shadow: rgba(97, 115, 255, 0.1) 0px 1px 0px, rgba(97, 115, 255, 0.1) 0px 8px 24px, rgba(97, 115, 255, 0.1) 0px 16px 48px; }
  .btn--blue:hover {
    background-color: #7a8aff; }

.container-text {
  text-align: center;
  margin: 0 auto;
  max-width: 70rem; }

.attribution {
  font-size: 11px;
  text-align: center; }
  .attribution a {
    color: #3e52a3; }

.footer {
  padding: 3.2rem;
  background-color: #f4f5f6;
  display: flex;
  justify-content: space-around; }
  .footer .wrapper-left {
    display: flex;
    align-items: center;
    justify-content: center; }
    .footer .wrapper-left .logo-footer {
      width: 6.4rem;
      margin-right: 12.6rem; }
    .footer .wrapper-left .wrapper-links {
      max-width: 40rem;
      display: flex;
      flex-wrap: wrap; }
      .footer .wrapper-left .wrapper-links .footer-link {
        text-decoration: none;
        transition: all 0.3s ease;
        margin: 1.2rem; }
        .footer .wrapper-left .wrapper-links .footer-link:link, .footer .wrapper-left .wrapper-links .footer-link:visited {
          color: #4c545d; }
        .footer .wrapper-left .wrapper-links .footer-link:active, .footer .wrapper-left .wrapper-links .footer-link:hover {
          color: #26baa4; }
  .footer .wrapper-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.8rem; }

body {
  background-image: url(../../images/bg-header-desktop.png);
  background-repeat: no-repeat no-repeat;
  background-size: 100%; }

.section-cta {
  padding: 12.6rem 0 9.6rem 0;
  margin: 0 auto; }
  .section-cta .wrapper {
    display: flex;
    justify-content: center;
    gap: 2.4rem; }

.section-features {
  padding: 9.6rem 0;
  margin: 0 auto; }
  .section-features .features {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9.6rem; }
    .section-features .features__img {
      display: block; }
  .section-features .features-container {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    margin-right: 4.8rem; }
    .section-features .features-container .features-item {
      max-width: 40rem; }

.section-access {
  padding: 9.6rem 0;
  margin: 0 auto; }
  .section-access__img {
    display: block;
    margin: 0 auto; }

.section-tools {
  padding: 0 0 9.6rem 0;
  margin: 0 auto; }
  .section-tools .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4.8rem; }
    .section-tools .wrapper .tool {
      text-align: center;
      max-width: 35rem; }

.section-testimonials {
  padding: 9.6rem 0;
  margin: 0 auto; }
  .section-testimonials .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem; }

.section-download {
  padding: 9.6rem 0 12.6rem 0;
  margin: 0 auto; }
  .section-download .wrapper {
    display: flex;
    justify-content: center;
    gap: 2.4rem; }
