/////////
// COLORS
/////////

$color-primary-1: hsl(171, 66%, 44%);
$color-primary-2: hsl(233, 100%, 69%);

$color-neutral-1: hsl(210, 10%, 33%);
$color-neutral-2: hsl(201, 11%, 66%);

$color-white: #fff;