.btn {
	&,
	&:link,
	&:visited {
		text-decoration: none;
		padding: 1.4rem 3.2rem;
		border-radius: 10rem;
		color: $color-white;
		transition: all 0.3s ease;
		letter-spacing: 1px;
	}

	&--green {
		background-color: $color-primary-1;
		box-shadow: 0px 3px darken($color-primary-1, 5);

		&:hover {
			background-color: lighten($color-primary-1, 5);
		}
	}

	&--blue {
		background-color: $color-primary-2;
		box-shadow: 0px 3px darken($color-primary-2, 5);

		&:hover {
			background-color: lighten($color-primary-2, 5);
		}
	}
}
