body {
	background-image: url(../../images/bg-header-desktop.png);
	background-position: top;
	background-repeat: no-repeat no-repeat;
	background-size: 100%;
}

.section-cta {
	padding: 12.6rem 0 9.6rem 0;
	margin: 0 auto;

	.wrapper {
		display: flex;
		justify-content: center;
		gap: 2.4rem;
	}
}

.section-features {
	padding: 9.6rem 0;
	margin: 0 auto;

	.features {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 9.6rem;

		&__img {
			display: block;
		}
	}

	.features-container {
		display: flex;
		flex-direction: column;
		gap: 4.8rem;
		margin-right: 4.8rem;

		.features-item {
			max-width: 40rem;
		}
	}
}

.section-access {
	padding: 9.6rem 0;
	margin: 0 auto;

	&__img {
		display: block;
		margin: 0 auto;
	}
}

.section-tools {
	padding: 0 0 9.6rem 0;
	margin: 0 auto;

	.wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 4.8rem;

		.tool {
			text-align: center;
			max-width: 35rem;
		}
	}
}

// SPACING SYSTEM (px)
// 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
